     name: Rainfall Scraper

on:
  schedule:
    - cron: "*/60 * * * *"
  workflow_dispatch:

jobs:
  scrape:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install playwright
          playwright install chromium


      - name: Run scraper
        run: |
          python rainfall_scraper.py

      - name: Commit updated CSV
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add machrie_rainfall.csv
          git commit -m "Update machrie rainfall data" || echo "No changes to commit"
          git push
